*{
margin: 0;
padding: 0
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 80vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 10vh;
}

.contenedor_menu{
    display: flex;
    flex-direction: row;
}

.item_menu_li{
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    height: 30px;
    list-style: none;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
}

a:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

a:visited{
    color: rgba(32, 30, 30, 0.17);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
}

.contenedor_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 10px;
}

h1,h2{
    margin-bottom: 15px;
    margin-top: 10px;
}

p{
    margin-bottom: 10px;
}

.contenedor_div{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor_parrafo_pintar{
    cursor: pointer;
    padding: 10px;
    color: white;
}

.div_uno, .div_dos, .div_tres, .div_cuatro{
    min-width: 200px;
    min-height: 200px;
    margin: 15px;
}

.div_uno{
    background-color: blue;
}

.div_dos{
    background-color: red;
}

.div_tres{
    background-color: green;
}

.div_cuatro{
    background-color: yellow;
}

.div_key{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: brown;
    font-size: 14px;
    height: 10vh;
}